body {
    background-color: aquamarine;

}
input,textarea {
    width: 300px;
}
input.submit {
    width: 150px;

}
form {
    margin:  20px 50px;
}
.vld {
    background-color: red;
}
div {
    margin:  0 50px;
}