body {
    background-color: aquamarine;

}
input,textarea {
    width: 300px;
}
input.submit {
    width: 150px;

}
form {
    margin:  20px 50px;
}
input.vld:valid {
    background-color: green;
}
input.vld:invalid {
    background-color: red;
}
div {
    height: auto;
}