a#k1 {
     display: block;
     border-radius: 10px;
     color: black;
     background: hsla(180, 50%, 40%, 0.5);
     margin: 0;
     width: 280px;
     height: 60px;
     padding: 10px;
     text-align: center;
     vertical-align: middle;
     text-decoration: none;
     font: 50px Arial, bolder;
     text-shadow: 0 -1px 1px hsla(0, 0%, 100%, 0.5), 0 1px 1px hsla(0, 0%, 0%, 0.5);
     box-shadow: 5px 5px 1px hsla(180, 50%, 20%, 0.5);
     position: relative;
 }
a#k1:hover {
    background: hsla(180, 50%, 10%, 0.5);
}
a#k1:active {
    top: 1px;
    box-shadow: 5px 4px 1px hsla(180, 50%, 20%, 0.5);
}
a#k2 {
    display: block;
    border-radius: 10px;
    color: black;
    background: hsla(120, 50%, 40%, 0.5);
    margin: 0;
    width: 280px;
    height: 60px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font: 50px Arial, bolder;
    text-shadow: 0 -1px 1px hsla(0, 0%, 100%, 0.5), 0 1px 1px hsla(0, 0%, 0%, 0.5);
    box-shadow: 5px 5px 1px hsla(120, 50%, 20%, 0.5);
    position: relative;
}
a#k2:hover {
    background: hsla(120, 50%, 10%, 0.5);
}
a#k2:active {
    top: 1px;
    box-shadow: 5px 4px 1px hsla(120, 50%, 20%, 0.5);
}
a#k3 {
    display: block;
    border-radius: 10px;
    color: black;
    background: hsla(280, 50%, 40%, 0.5);
    margin: 0;
    width: 280px;
    height: 60px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font: 50px Arial, bolder;
    text-shadow: 0 -1px 1px hsla(0, 0%, 100%, 0.5), 0 1px 1px hsla(0, 0%, 0%, 0.5);
    box-shadow: 5px 5px 1px hsla(280, 50%, 20%, 0.5);
    position: relative;
}
a#k3:hover {
    background: hsla(280, 50%, 10%, 0.5);
}
a#k3:active {
    top: 1px;
    box-shadow: 5px 4px 1px hsla(280, 50%, 20%, 0.5);
}
