body {
    width: auto;
    background: linear-gradient(to bottom, rgba(0,86,143,1) 0%, rgba(96,182,225,1) 25%, rgba(95,235,20,1) 100%) no-repeat;
    }
span {
    background: #33996b;
    border:1px solid #333366;
    border-radius: 10px;
}
span:hover {
    border: transparent;}
span.active {
    background: transparent;
    border: transparent;
    color: #ae1172;
}
.page {
    width:auto;
    height:auto;
    background: #33996b;
    /*display:none;*/
    position: relative;
    border-radius: 5px;
}
.page.active {
    background: transparent;
    /*display: block*/
}
p {text-align: justify}